{% extends "layout.html" %}
{% block content %}
    <div id="latestsearches">
        {% for search in latestsearches %}
            <div>
                <span>{{ search }}</span>

                <div>
                    <button class="btn" data-textbox="query1" data-query="{{ search }}">Box 1</button>
                    <button class="btn" data-textbox="query2" data-query="{{ search }}">Box 2</button>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row controllers" id="search">
        <div class="five columns">
            <input type="text" name="query1" placeholder="Box 1" id="query1"/>
            <i class="fa fa-spinner fa-spin" style="display:none" id="spinner1"></i>
        </div>
        <div class="two columns">
            <input class="btn" id="compare" type="submit" value="Compare!"/>
        </div>
        <div class="five columns">
            <input class="u-pull-right" type="text" name="query2" placeholder="Box 2" id="query2"/>
            <i class="fa fa-spinner fa-spin" style="display:none" id="spinner2"></i>
        </div>
    </div>
    <div class="row">
        <div class="five columns">
            <div>
                <p id="query1_loading"></p>
            </div>
            <div>
                <p id="query1_from"></p>

                <p id="query2_from"></p>
            </div>
            <div>
                <p id="query2_loading"></p></div>
        </div>
        <div class="seven columns" id="legend_location"></div>
    </div>
    <div class="search-data">
        <div class="row">
            <div class="twelve columns">
                <div id="charts">
                    <canvas id='follower_canvas' height='400'></canvas>
                    <canvas id='listeners_canvas' height='400'></canvas>
                    <canvas id='playcount_canvas' height='400'></canvas>
                    <div>
                        <span>Popularity</span>
                        <canvas id='popularity_canvas' height='100' width="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <button id="table-button" data-target=".twelve.columns table">Hide table</button>
                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th>Artist name</th>
                        <th>Spotify Followers</th>
                        <th>LastFM Playcount</th>
                        <th>LastFM Listeners</th>
                        <th>Popularity on Spotify</th>
                        <th>P/F <i class="fa fa-question-circle"
                                   title="Playcount per followers, based on data from Spotify"></i></th>
                        <th>P/L <i class="fa fa-question-circle"
                                   title="Playcount per listeners, based on data from LastFM"></i></th>
                    </tr>
                    </thead>
                    <tbody id="tbody_data">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div id="matchingtags"></div>
            </div>
        </div>
        <!--<div class="row">
            <div class="twelve columns">
                <div id="result">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div id="result2">
                </div>
            </div>
        </div>-->
    </div>
    <script src="/javascripts/clientside.min.js">
    </script>
{% endblock %}