{% extends "layout.html" %}
{% block content %}
    <script src="/javascripts/chart.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .docs-header {
            text-transform: uppercase;
            font-size: 1.4rem;
            letter-spacing: .2rem;
            font-weight: 600;
        }

        .box {
            margin-top: 1.5rem;
            border: 1px solid #E1E1E1;
            padding: 2.5rem 3rem;
            border-radius: 4px;
            margin-bottom: 1.5rem;
        }
        .controllers {
            padding-top:30px;
        }
        canvas {
            width: 50%;
        }
        .bar-legend li span{
            display:block;
            width: 15px;
            height:15px;
        }
        .search-data{
            display:none;
        }
    </style>
    <div class="row controllers" id="search">
        <div class="five columns">
            <input type="text" name="query1" placeholder="Text" id="query1"/>
            <i class="fa fa-spinner fa-spin" style="display:none" id="spinner1"></i>
        </div>
        <div class="two columns">
            <input class="btn" id="compare" type="submit" value="Compare!"/>
        </div>
        <div class="five columns">
            <input class="u-pull-right" type="text" name="query2" placeholder="Text" id="query2"/>
            <i class="fa fa-spinner fa-spin" style="display:none" id="spinner2"></i>
        </div>
    </div>
    <div class="row">
        <div class="five columns">
            <div><p id="query1_loading"></p><p id="query2_loading"></p></div>
        </div>
        <div class="seven columns" id="legend_location"></div>
    </div>
    <div class="search-data">
        <div class="row">
            <div class="twelve columns">
                <div id="charts">
                    <canvas id='follower_canvas' height='400'></canvas>
                    <canvas id='listeners_canvas' height='400'></canvas>
                    <canvas id='playcount_canvas' height='400'></canvas>
                    <span>Popularity</span>
                    <canvas id='popularity_canvas' height='100'></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th>Artist name</th>
                        <th>Followers</th>
                        <th>Playcount</th>
                        <th>Listeners</th>
                        <th>Popularity</th>
                        <th>P/F <i class="fa fa-question-circle" title="Playcount per followers, based on data from Spotify"></i></th>
                        <th>P/L <i class="fa fa-question-circle" title="Playcount per listeners, based on data from LastFM"></i></th>
                    </tr>
                    </thead>
                    <tbody id="tbody_data">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div id="result">
                </div>
            </div>
        </div>
    </div>
    {% if result %}
        <pre>
        <code>
            {{ result }}
        </code>
    </pre>
    {% endif %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/please.min.js"></script>
    <script>
        var searchCount = 0;
        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ' ' + '$2');
            }
            return x1 + x2;
        }
        function search(query, type, callback, spinner, target) {
            searchCount += 1;
            query = query.trim().toLowerCase();
            console.log(query);
            if (localStorage.getItem(query)) {
                console.log("Got item from storage");
                console.log(JSON.parse(localStorage.getItem(query)));
                callback(JSON.parse(localStorage.getItem(query)));
                
                console.log("Showing data");
                $(".search-data").show();
                return;
            }
            type = type || "artist";
            $(spinner).show();
            $(target).text("Searching for " + query);
            $.ajax({
                method: "post",
                url: "/api/search2",
                data: {query: query, type: type},
                error: function (x, y, z) {
                    console.log(arguments);
                    console.log(x);
                    $("#loading").text(x.responseJSON.message);
                }
            }).done(function (data, y, z) {
                console.log(arguments);
                console.log(data);

                $(spinner).hide();
                $(target).text("");
                
                localStorage.setItem(query, JSON.stringify(data));
                
                console.log("Showing data");
                $(".search-data").show();

                callback(data);
            });
        }
        window.addEventListener("offline", function (e) {
            $("#online").text("You are currently offline. As such you will not be able to do any searches that you haven't already cached. Sorry for the inconvenience.");
        });
        window.addEventListener("online", function (e) {
            $("#online").text("You are currently online. You may do any search that you like.");
        });
        function putInSearchBox(text) {
            console.log(arguments);
            text = decodeURI(text);
            $("#query1").val(text);
        }
        function putInSearchBox2(text) {
            console.log(arguments);
            text = decodeURI(text);
            $("#query2").val(text);
        }
        function getLatestSearches() {
            $.ajax({method: 'GET', url: '/api/latestsearches'}).done(function (result) {
                var div = $("#latestsearches");

                div.empty();

                result.forEach(function (item) {
                    var onclick = "$(\'#query1\').val(\'" + item + "\')";
                    var onclick2 = "$(\'#query2\').val(\'" + item + "\')";
                    var item_uri = encodeURI(item);
                    div.append("<div><span>"
                    + item
                    + "</span><div><button data-textbox='query1' data-query='"+item_uri+"'"
                    + ">Searchbox 1</button><button data-textbox='query2'  data-query='"+item_uri+"'>Searchbox 2</button></div>");
                });
                //setTimeout(getLatestSearches, 10000);
                console.log(arguments);
            });
        }
        window.onload = function () {
            $("#latestsearches").delegate("button", "click", function(event){
                console.log(arguments);
                var element = $(this);
                console.log(element.data("textbox"));
                console.log($("#"+element.data("textbox"))[0]);
                $("#"+element.data("textbox"))[0].value = decodeURI(element.data("query"));
            });
            initializeCharts();
            getLatestSearches();
            //alert(navigator.onLine);
            if (!navigator.onLine) {
                $("#online").text("You are currently offline");
                $("#online").text(navigator.onLine);
            }
            console.log("Adding eventlistener");
            document.getElementById("compare").addEventListener("click", function (e) {
                e.preventDefault();
                
                location.hash = "#spacer";
                popularity_chart.segments = [];
                $("#tbody_data").empty();
                if ($("[name=query1]")[0].value != "") {
                    search($("[name=query1]")[0].value, "artist", handleData.bind(undefined, "#result", 0), "#spinner1", "#query1_loading");
                }
                if ($("[name=query2]")[0].value) {
                    search($("[name=query2]")[0].value, "artist", handleData.bind(undefined, "#result2", 1), "#spinner2", "#query2_loading");
                }
            });
        };
        function initializeCharts() {
            first_color = Please.make_color({
                base_color: "orangered",
                saturation: 0.9,
                value: 0.6
            });
            second_color = Please.make_color({
                base_color: "cyan",
                saturation: 0.9,
                value: 0.6
            });
            var follower_data = {
                labels: [
                    "Followers"
                ],
                datasets: [
                    {
                        label: "Missing data",
                        fillColor: first_color,
                        data: [0]
                    },
                    {
                        label: "Missing data",
                        fillColor: second_color,
                        data: [0]
                    }
                ]
            };
            var listeners_data = {
                labels: [
                    "Listeners"
                ],
                datasets: [
                    {
                        label: "Missing data",
                        fillColor: first_color,
                        data: [0]
                    },
                    {
                        label: "Missing data",
                        fillColor: second_color,
                        data: [0]
                    }
                ]
            };
            var playcount_data = {
                labels: [
                    "Playcount"
                ],
                datasets: [
                    {
                        label: "Missing data",
                        fillColor: first_color,
                        data: [0]
                    },
                    {
                        label: "Missing data",
                        fillColor: second_color,
                        data: [0]
                    }
                ]
            };
            var popularity_data = [];

            var follower_ctx = follower_canvas.getContext("2d");
            var listeners_ctx = listeners_canvas.getContext("2d");
            var playcount_ctx = playcount_canvas.getContext("2d");
            var popularity_ctx = popularity_canvas.getContext("2d");

            follower_chart = new Chart(follower_ctx).Bar(follower_data);
            listeners_chart = new Chart(listeners_ctx).Bar(listeners_data);
            playcount_chart = new Chart(playcount_ctx).Bar(playcount_data);
            popularity_chart = new Chart(popularity_ctx).Doughnut();
        }
        function handleData(target, offset, data) {
            var colors = [first_color, second_color];
            var spotify_data = data.data[0].value;
            var spotify_state = data.data[0].state;
            var lastfm_data = data.data[1].value;
            var lastfm_state = data.data[1].state;
            var follower_canvas = document.getElementById("follower_canvas");
            var listeners_canvas = document.getElementById("listeners_canvas");
            var playcount_canvas = document.getElementById("playcount_canvas");
            var popularity_canvas = document.getElementById("popularity_canvas");

            $(target).html("<pre><code>" + JSON.stringify(data, undefined, 2) + "</code></pre>");
            console.log("Target", target);
            console.log("Arguments", arguments);
            console.log("Got data", data);
            if(spotify_state == "fulfilled" && lastfm_state == "fulfilled"){
                $("#tbody_data").append("<tr><td>" 
                    + (lastfm_data.artist.name || spotify_data.name) 
                    + "</td><td>" 
                    + (addCommas(spotify_data.followers.total) || 0)
                    + "</td><td>" 
                    + (addCommas(lastfm_data.artist.stats.playcount) || 0)
                    + "</td><td>" 
                    + (addCommas(lastfm_data.artist.stats.listeners) || 0)
                    + "</td><td>"
                    +(spotify_data.popularity)
                    + "</td><td>"
                    + ((lastfm_data.artist.stats.playcount / spotify_data.followers.total).toFixed(1) || 0)
                    + "</td><td>"
                    + ((lastfm_data.artist.stats.playcount / lastfm_data.artist.stats.listeners).toFixed(1) || 0)
                    +"</td></tr>");
                console.log(offset);
                console.log(follower_chart);
                follower_chart.datasets[offset].label = lastfm_data.artist.name;
                $("#legend_location").html(follower_chart.generateLegend());
                follower_chart.datasets[offset].bars[0].value = spotify_data.followers.total || 0;
                listeners_chart.datasets[offset].bars[0].value = lastfm_data.artist.stats.listeners || 0;
                playcount_chart.datasets[offset].bars[0].value = lastfm_data.artist.stats.playcount || 0;
                popularity_chart.addData(
                        {
                            value: spotify_data.popularity || 0,
                            color: colors[offset],
                            highlight: Please.make_color({
                                base_color: offset === 0 ? "orangered" : "cyan",
                                saturation: 0.4,
                                value: 0.6
                            }),
                            label: "Popularity"
                        });
                console.log("Or here?");
                follower_chart.update();
                listeners_chart.update();
                playcount_chart.update();
                popularity_chart.update();
            }
        }
    </script>
{% endblock %}