<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title||'Something else'}}</title>
    <meta charset='utf-8'>
    <meta name='description' content=''>
    <meta name='author' content='Christoffer Holmgren, ch222kv'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/custom.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/normalize.css'>
    <link rel='stylesheet' href='/stylesheets/skeleton.css'>
    <style>
        .footer{
            border-top: 1px solid #E1E1E1;
            padding-top: 10px;
        }
        .header {
            padding-bottom: 40px;
        }
    </style>
</head>
<body class="has-docked-nav">
    <section class="header" style="border-bottom: 1px solid #E1E1E1;">
        <h1 class="title">{{ title }}</h1>

        <p>Welcome to {{ title }}!</p>

        <p id="online">You are currently online. You may do any search that you like.</p>
        {% if not authenticated %}
            <a href="http://www.last.fm/api/auth/?api_key=88608a3b670729c1f85fe44b231aff72">Login with Last.fm</a>
        {% else %}
            <p>You are authenticated as {{ username }}</p>
        {% endif %}
    </section>
    <div class="navbar-spacer" id="spacer"></div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
              <li class="navbar-item"><a class="navbar-link" href="#intro">Intro</a></li>
            </ul>
        </div>
    </nav>
<div class="container">
    <div class="row">
        <div class="twelve columns">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<div class="footer">
    <div class="row">
        <span>© Christoffer Holmgren 2015</span>
        <div class="u-pull-right">
            <span><a>About</a></span>
            <span><a>Contact</a></span>
            <span><a>Privacy Policy</a></span>
            <span><a>TOS</a></span>
        </div>

    </div>
</div>
</body>
</html>

