<!DOCTYPE html>
<html manifest="cache.manifest">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title||'Something else' }}</title>
    <meta charset='utf-8'>
    <meta name='description' content=''>
    <meta name='author' content='Christoffer Holmgren, ch222kv'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/all.min.css'>
</head>
<body class="has-docked-nav">
<section class="header">
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
                {% if authenticated %}
                    <li class="navbar-item"><a class="navbar-link" href="/application">Application</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-list u-pull-right">
                <li class="navbar-item"><span class="navbar-link" id="online"
                                              title="You are currently online. You may do any search that you like.">Connection: Online</span>
                </li>
                {% if authenticated %}
                    <li class="navbar-item"><a class="navbar-link" href="/logout">Logout</a></li>
                {% else %}
                    <li class="navbar-item"><a class="navbar-link" href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</section>
<div class="row welcome-text">
    <div class="eight columns offset-by-two">
        <h1 class="title">{{ title }}</h1>

        <p>Welcome to {{ title }}!</p>

        <p>In this application you can search for artists and compare them against each other. How many listens they
            got, how many followers, how popular they are and so on.</p>
        {% if not authenticated %}
            <p>You can login in the right
                corner</p><!--<a href="http://www.last.fm/api/auth/?api_key=88608a3b670729c1f85fe44b231aff72">Login with Last.fm</a>-->
        {% else %}
            <p>You are authenticated as {{ username }}</p>
        {% endif %}
    </div>
</div>
<div class="navbar-spacer" id="spacer"></div>
<div class="container main-content">
    <div class="row">
        <div class="twelve columns">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<div class="footer">
    <div class="row">
        <span>© Christoffer Holmgren 2015</span>

        <div class="u-pull-right">
            <span><a>About</a></span>
            <span><a>Contact</a></span>
            <span><a>Privacy Policy</a></span>
            <span><a>TOS</a></span>
        </div>

    </div>
</div>
<script src="/javascripts/chart.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/javascripts/please.min.js"></script>
<script src="/javascripts/offline.js">
</script>
</body>
</html>

