//-
Created by Chrille on 2014-12-20.
{{ data|json_encode }}
{#<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Popularity</th>
    <th>URI</th>
    <th>Followers</th>
    <th>Listeners</th>
    <th>Playcount</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ data[0].name }}</td>
    <td>{{ data[0].popularity }}</td>
    <td>{{ data[0].uri }}</td>
    <td>{{ data[0].followers.total }}</td>
    <td>{{ data[1].artist.stats.listeners }}</td>
    <td>{{ data[1].artist.stats.playcount }}</td>
  </tr>
  </tbody>
</table> #}