body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.navbar + .docs-section {
    border-top-width: 0;
}

.navbar,
.navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.navbar-spacer {
    display: none;
}

.navbar > .container {
    width: 100%;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    float: left;
    margin-bottom: 0;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

.navbar-link.active {
    color: #33C3F0;
}

.has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
}

.has-docked-nav .navbar-spacer {
    display: block;
}

.navbar {
    padding: 0 20px;
    display: inherit;
}

.navbar.container {
    position: inherit;

}

body {
    padding-top: 0;
}

.footer {
    border-top: 1px solid #E1E1E1;
    padding-top: 10px;
}

.header {
    padding-bottom: 40px;
}

.docs-header {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

.box {
    margin-top: 1.5rem;
    border: 1px solid #E1E1E1;
    padding: 2.5rem 3rem;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

.controllers {
    padding-top: 30px;
}

canvas:not(#popularity_canvas) {
    width: 50%;
}

.bar-legend li span {
    display: block;
    width: 15px;
    height: 15px;
}

.search-data {
    display: none;
}

#latestsearches div {
    text-align: center;
}

.welcome-text {
    text-align: center;
}

.main-content {
    margin-top: 10px;
}

[name=query1], [name=query2] {
    text-align: center;
}